@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.comfort {
    font-family: 'Roboto', sans-serif;
    padding: 120px 0 60px;
    position: relative;
}
.comfort__content {
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.comfort__group {
    max-width: 195px;
    text-align: center;
}
.comfort__group p{
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    padding-top: 30px;
}
.comfort__span {
    position: absolute;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 300px;
    line-height: 433px;
    text-align: center;
    opacity: 0.02;
    top: -35px;
    right: 140px;
}