@import './hero.css';
@import './comfort.css';
@import './apartments.css';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #242B33;
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    color: #fff;
}
.container {
    margin: auto;
    max-width: 1110px;
}

.row,
.flex {
    display: flex;
}
.col-6 {
    width: 48%;
}
.text-center {
    text-align: center;
}

ul {
    list-style: none;
}
.title,
.subtitle {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    color: #D4C17F;
}
.title {
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}
.subtitle {
    font-size: 36px;
    line-height: 48px;
}
.logo {
    max-width: 138px;
}
.logo__text {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}
a {
    text-decoration: none;
    color: #fff;
}